@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Serif&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);

body {
    margin: auto;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    max-width: 40em;
    color: black;
    font-family: PT Serif, sans-serif;
    font-size: 100%;
    line-height: 140%;
    color: #333;
}

h1, h2, h3, h4, h5 { font-family: PT Serif, sans-serif;
                     font-weight: bold;
                     border-bottom: 1px dotted black;
                     color: #374f2f; }
h1 {
        font-size: 140%;
}

h2 {
        font-size: 120%;
}

h3 {
        font-size: 110%;
}

h4 {
        font-size: 105%;
}

h5 {
        font-size: 100%;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

/* Styling for the list of publications */
.publications {
    list-style-type: square;
    margin: 0;
    padding: 0 20px; /* Indent the main list */
}
.publications li {
    padding-top: 10px; /* Add padding above each list item */
}

/* Styling for awards etc. */
.award {
    font-size: 0.8em; /* Smaller font size */
    color: gray; /* Optional: make it gray for emphasis */
    margin-left: 20px; /* Indent the award text */
    list-style-type: none; /* Remove bullet points */
}

